<footer class="site-footer">
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-3">
          contact me: 
          <br>
          &nbsp;&nbsp;<a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </div>
  
        <div class="footer-col footer-col-3">

          you can also find me on
          <ul class="social-media-list">
            <li>{% include icon-github.html username="mariaheuss" %} 
            <li>{% include icon-twitter.html username="maria_heuss" %}

            <li>
              <a href="https://scholar.google.com/citations?user=qXAS26EAAAAJ">
                Google Scholar
              </a>
            </li>
            {% comment %} 
              <li>{% include icon-mathoverflow.html username="?" id="?" %}
            {% endcomment %}
          </ul>
        </div>
      </div>
    </div>
  </footer>